body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color: #3D5588;
}

.header{
    display: flex;
    background-color: #ffea008a;
    height: 80px;
    align-items: center;
    font-size: 32px;
}

.body{
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
    /* justify-content: center; */
}

.top{
    /* display:flex; */
    /* width: 100px; */
    font-size: larger;
    margin-left:30px;
}
.middle{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
}
p{
    margin-left: 30px;
}

.leftColumn{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    align-items:flex-start;
    font-size: larger;
}

button{
    font-family: 'Courier New', Courier, monospace;
    /* text-transform: uppercase; */
    font-size: large;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 2px;
    color: #3D5588;
}
#risoBlue{
    background-color: #3D5588;
    color: white;
}
#yellow{
    background-color: #FFE800;
    color: #3D5588;
    /* mix-blend-mode: color; */
}
#pink{
    background-color: #FF48B0;
    color: #3D5588;
}
#brightRed{
    background-color: #F15060;
    color: #3D5588;
}
#teal{
    background-color: #00838A;
    color: white;
}
.saturationContainer{
    display: flex;
    font-size: x-small;
    flex-wrap: wrap;
    gap: 4px;
    width: 100px;
}

#saturation{
    font-size: 12px;
    width: 30px;
}

.gridSize, #reset{
    margin-top: 40px;
}
.sizes{
    display: flex;
    width: 30px;
    gap: 4px;
}
#reset{
    background-color: #3d558856;
}
.grid{
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    height: 45%;
    margin-left: 8%;
}
.row{
    display: flex;
    width: 100%;
}

.gridSquare{
    display: flex;
    flex: 1 0 auto;
    height: auto;
    background-color: white;
}

.gridSquare:before {
    content: '';
    display: block;
    padding-top: 100%;
    padding-right: 5px;
}
